/* Ke */
.home {
    width: 80%;
    margin: auto;
}

.greeting {
    margin-top: 250px;
    margin-bottom: 50px;
}

.welcome {
    /* color: rgb(255, 255, 255); */
    font-size: 56px;
}

button {
    border: 0;
    background: none;
    margin-right:30px;
}

button:hover {
    color:rgb(127, 127, 127);
    border-bottom: 1px solid;
}