/* Ke Chen */
.registerPanel {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    /* background-color: white; */
    width: 500px;
    height: 400px;
}

.registerTitle {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'JK Abode', sans-serif;
    font-size: 52pt;
}

.registerForm {
    width: 400px;
}

.registerBox{
    margin-bottom: 20px;
    border: 0;
}

.registerBox:valid {
    background-color: rgb(248, 244, 226);
}

.registerBtn {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    background-color: #ffe552;
    color: white;
    border: none;
}

.registerBtn:hover{
    background-color: #ffde20;
}
